@mixin  avatar($size, $circle: false) {
    width: $size;
    height: $size;
    @if $circle{
        // border-radius: ($size / 2) + "px"; 문자열 로 들어감서 안됨
        // border-radius: ($size / 2) + px; 픽셀값으로 들어감
        border-radius: $size / 2;
    }
}
.one{
    @include avatar(10, true)
    
}
.two{
    @include avatar(10px, true)
}
.three{
    @include avatar(10px, false)
    // @include avatar(10)도 가능
}